.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 95px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
}

body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: calc(100vw - 290px);
    margin: 20px auto;
    padding: 20px 60px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
}

.flashcard-list {
    list-style: none;
    padding: 0;
}

.flashcard-item {
    padding: 15px;
    margin-bottom: 10px;
    background: #e9ecef;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flashcard-item h3 {
    margin: 0;
    font-size: 18px;
}

.options {
    display: flex;
    gap: 10px;
}

.options button {
    padding: 5px 10px;
    font-size: 14px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-flashcard-btn {
    width: 20%;
    background: #00c853;
    border: #00c853;
    color: #fff;
    font-family: "Poppins", Arial, sans-serif;
    border-radius: 6px;
}

.add-flashcard-btn:hover {
    background: #00b342;
}

#flashcardQuestion {
    font-family: "Poppins", Arial, sans-serif;
    border-radius: 6px;
    border: 1px solid #868686;
}

#flashcardAnswer {
    field-sizing: content;
    resize: none;
    font-family: "Poppins", Arial, sans-serif;
    border-radius: 6px;
    border-color: #868686;
}

.delete-btn {
    background-color: #dc3545;
    font-family: "Poppins", Arial, sans-serif;
}

.delete-btn:hover {
    background-color: #b02a37;
}

.edit-btn {
    background-color: #28a745;
    font-family: "Poppins", Arial, sans-serif;
}

.edit-btn:hover {
    background-color: #218838;
}

.flashcard-form {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
}

.flashcard-form input,
.flashcard-form textarea {
    padding: 8px;
    font-size: 14px;
    width: 40%;
}