/* Add !important to force animation */
.fade-and-drop-in {
    animation: dropIn 1.5s ease-in forwards, fadeIn 4s ease-out forwards;
}

.fade-in{
  animation:fadeIn 2s ease-out forwards;
}

@keyframes dropIn {
    from {
        transform: translateY(-20px); /* Start off-screen */
    }
    to {
        transform: translateY(0); /* End at normal position */
    }
}

.main-heading.fade-and-drop-in {
    animation-delay: 0.5s; /* Delay only for main-heading */
}

.description.fade-and-drop-in {
    animation-delay: 1s; /* Delay to start after main-heading's dropIn */
}

.create-btn.fade-in{
  animation-delay:1.5s;
}

.learn-more-btn.fade-in{
  animation-delay:2s;
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Start invisible */
    }
    to {
        opacity: 1; /* End fully visible */
    }
}




body {
    margin: 0;
    font-family:'Poppins', Arial, sans-serif;
    color: #333;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;;

  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 95px;
  }
  
  .get-started-btn {
    background: #00c853;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right:95px;
  }
  
  .get-started-btn:hover {
    background: #00b342;
  }
  
  .main-content {
    text-align: center;
    padding: 20px 20px;
  }
  
  .subheading {
    color: #00c853;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  
  .main-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.4;
    margin-top: -1px;
  }
  
  .description {
    font-size: 18px;
    margin-top: -30px;
    color: #6c6c6c;
  }

  .main-content h1, p {
    opacity: 0;
  }
  .button-container button, p {
    opacity: 0;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .create-btn, .learn-more-btn {
    font-family:'Poppins', Arial, sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:-20px;
  }
  
  .create-btn {
    background: #00c853;
    color: #fff;
  }
  
  .create-btn:hover {
    background: #00b342;
  }
  
  .learn-more-btn {
    background: #fff;
    color: #00c853;
    border: 2px solid #00c853;
  }
  
  .learn-more-btn:hover {
    background: #f8f8f8;
  }

  .main-content-wrapper {
    margin-top: 150px; /* Move the entire group down */
}