body {
    font-family: "Poppins", Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    margin-left: 95px;
}

.flip-card {
    position: relative;
    width: 80%; /* Make it wider, adjust this percentage as needed */
    max-width: 600px; /* Optional: Limit the maximum width */
    height: 300px; /* Adjust the height accordingly */
    margin: 0 auto; /* Center the flip card horizontally */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s; /* Smooth flipping animation */
    transform-style: preserve-3d;
    transform: rotateY(0deg); /* Default position (front side) */
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the back when front is visible */
    border-radius: 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 20;
}

.flip-card-front {
    background-color: #dcffd8;
    color: black;
    font-weight: 400;
    margin-top: 3000px;
    margin-bottom: 800px;
}

.flip-card-back {
    background-color: #dcffd8;
    color: black;
    transform: rotateY(180deg); /* Position the back side */
}

.container {
    max-width: 60vw;
    margin: 20px auto 20px; /* Combined margin rule */
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-top: 50px;
}

.container2 {
    text-align: center;
    justify-content: center; /* Center horizontally */
    display: flex;
    border-radius: 15px;
}

.study-mode {
    text-align: center;
}

.flashcard {
    margin-top: 20px;
    font-size: 20px;
}

.study-btn {
    background-color: #19AF4D;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-family: "Poppins", Arial, sans-serif;
    margin-top: 5%;
}

.study-btn:hover {
    background: #19AF4D;
    color: black;
}
